<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bullhorn with Images</title>
</head>
<body>
<br /><br />
<h1> Bullhorn with Cloudinary Images</h1>
<form method="post" action="/add" th:object="${message}"
      enctype="multipart/form-data">
    Message: <input type="text" th:field="*{MESSAGE}" />
    Sent by: <input type="text" th:field="*{by}" />
    Post Date: <input type="text" th:field="*{postdate}" />
    Message Image: <input type="text" th:field="*{image}" />
    <input type="file" name="file" /><br/><br/><input type="submit" value="Submit" />
</form>
</body>
</html>